<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.21">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.53">
    <script>node {
    stage(&apos;Git&apos;) {
         println(&apos;git&apos;);
    }
    
    stage (&apos;print&apos;) {
        
        println(&apos;print&apos;);
        def xmlText = new XmlSlurper().parse(&apos;C:\\Windows\\System32\\config\\systemprofile\\.jenkins\\jobs\\PipelineExample\\config.xml&apos;);
        println (xmlText);
        def sScript = xmlText.depthFirst().findAll { it.name() == &apos;script&apos; }
        println (sScript);
      
        theDir = new File(&apos;temp.groovy&apos;);
        theDir.createNewFile();
        println theDir.exists();
        println (System.getProperty(&quot;user.dir&quot;));
   }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>